In [1]:
##IMPORTS
import pandas as pd
import numpy as np

In [15]:
## READ CSV FILE

df1 = pd.read_csv("../datasets/top1000_2022/social media influencers-youtube june 2022 - june 2022.csv", encoding='utf-8')
df1.head()

,channel name,youTuber,Category,Category_2,Subscribers count,Country,Views avg.,Likes avg,Comments avg.
0,juptube,Galinha Pintadinha,Music & Dance,NaN,30.5M,-,0,N/A',N/A'
1,"Baby Big Mouth Kids - Sing, Dance, Explore","Baby Big Mouth Kids - Sing, Dance, Explore",Animation,Toys,10.6M,-,348.5,3,N/A'
2,shfa show India,shfa show India,Daily vlogs,NaN,18.9M,-,1.2M,8.7K,N/A'
3,Blippi - Educational Videos for Kids,Blippi - Educational Videos for Kids,Education,Toys,15.7M,-,1.2M,4.2K,N/A'
4,infobellstamil,infobells - Tamil,Education,NaN,26.5M,-,1.3M,5.8K,N/A'

In [16]:
### FUNCTION TO CONVERT STRING MILLION/THOUSAND FORMAT TO NUMBER

def stringToNumeric(text, bad_data_val = 0):
    d = {
        'K': 1000,
        'M': 1000000,
        'B': 1000000000
    }
    if not isinstance(text, str):
        # Non-strings are bad are missing data in submission
        return bad_data_val

    elif text[-1] in d:
        # separate out the K, M, or B
        num, magnitude = text[:-1], text[-1]
        return int(float(num) * d[magnitude])
    else:
        return float(text)

In [17]:
# GET COLUMNS NAME
print(df1.columns.values)

['channel name' 'youTuber' 'Category' 'Category_2' 'Subscribers count'
 'Country' 'Views avg.' 'Likes avg' 'Comments avg.']

In [18]:
## RENAME COLUMNS
df1.rename(columns={'channel name': 'nome_canal',
                    'youTuber': 'perfil_canal',
                    'Country': 'pais',
                    'Subscribers count': 'inscritos',
                    'Views avg.': 'avg_views',
                    'Likes avg': 'avg_likes',
                    'Comments avg.': 'avg_comments',
                   }, inplace=True)

In [19]:
## REMOVE UNUSED COLUMNS
df1.drop(columns=['Category', 'Category_2'], inplace=True)

In [21]:
## CHANGE N/A' TO NAN VALUE
df1.replace('N/A\'', np.nan, inplace=True)

In [22]:
## CHANGE STRING VALUES INTO AVG VALUES (SUBSCRIBERS, VIEWS, LIKES AND COMMENTS) TO FLOAT
df2 = df1

df2["inscritos"] = df2['inscritos'].apply(lambda x: stringToNumeric(x))
df2["avg_views"] = df2['avg_views'].apply(lambda x: stringToNumeric(x))
df2["avg_likes"] = df2['avg_likes'].apply(lambda x: stringToNumeric(x))
df2["avg_comments"] = df2['avg_comments'].apply(lambda x: stringToNumeric(x))
df2.head()

,nome_canal,perfil_canal,inscritos,pais,avg_views,avg_likes,avg_comments
0,juptube,Galinha Pintadinha,30500000,-,0.0,0.0,0.0
1,"Baby Big Mouth Kids - Sing, Dance, Explore","Baby Big Mouth Kids - Sing, Dance, Explore",10600000,-,348.5,3.0,0.0
2,shfa show India,shfa show India,18900000,-,1200000.0,8700.0,0.0
3,Blippi - Educational Videos for Kids,Blippi - Educational Videos for Kids,15700000,-,1200000.0,4200.0,0.0
4,infobellstamil,infobells - Tamil,26500000,-,1300000.0,5800.0,0.0

In [23]:
## DESCRIBES NEW DATAFRAME
df2.describe()

          inscritos     avg_views     avg_likes   avg_comments
count  1.021000e+03  1.021000e+03  1.021000e+03    1021.000000
mean   1.757463e+07  1.148501e+06  5.392365e+04    2350.768854
std    1.404555e+07  4.462042e+06  2.165782e+05   11478.396876
min    9.300000e+06  0.000000e+00  0.000000e+00       0.000000
25%    1.090000e+07  3.870000e+04  7.340000e+02       6.000000
50%    1.350000e+07  2.003000e+05  4.100000e+03     109.000000
75%    1.860000e+07  7.555000e+05  3.040000e+04     950.000000
max    2.170000e+08  9.750000e+07  3.900000e+06  190100.000000

In [24]:
## SAVE DATAFRAME INTO CSV FILE

df2.to_csv('../datasets/top1000_2022_cleaned/youtube-jun2022.csv', index=False)